body {
  padding-top: 10px;
}
.starter-template {
  padding: 20px 15px;
  text-align: center;
}

#messages {
	margin: auto;
	height: 400px;
	width: 515px;
	border: solid 1px grey;
	overflow-y: scroll;
}
#message {
	width: 400px;
}

.alert {
	
}

.left { 
	width: auto;
	float: left;
	clear: both;
}

.right {
	width: auto;
	float: right;
	clear: both;
	text-align: right;
}

span.name {
	color: grey;
	font-style: italic;
}