body {
  padding-top: 10px;
}
.starter-template {
  padding: 20px 15px;
  text-align: center;
}

#messages {
	margin: auto;
	height: 400px;
	width: 515px;
	border: solid 1px grey;
}
#message {
	width: 400px;
}